@use "src/scss/components/rating-stars/rating-stars";

.rating-block {
  display: flex;
  flex-direction: column;
  gap: 20px 0;

  &_padding {
    padding: 32px;

    @media (max-width: 600px) {
      padding: 16px;
    }
  }
}