.section-tag {
  position: relative;
  padding: var(--section-offsets) 0 0 0;
  background: var(--background-image) center/cover no-repeat;
  background-color: var(--background-color);

  @media(max-width: 600px) {
    padding: var(--section-offsets) 0;
  }

  &_pb {
    padding-bottom: var(--section-offsets);
  }

  &_pt {

  }
}