@use "../../base/mixins";

.header-bonus {
  background: var(--background);
  position: absolute;
  width: 100%;
  padding: 16px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: var(--border-radius);

  &__block {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "title button"
        "description button";
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-heading);
    grid-area: title;
  }

  &__description {
    grid-area: description;
  }

  &__logo {
    border-radius: 50%;
    overflow: hidden;
    @include mixins.sizeRatio(64px);

    .image-func {

      img {
        @include mixins.sizeRatio(64px);
      }
    }
  }

  &__button {
    grid-area: button;
/*    all: unset;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    text-decoration: underline;
    color: var(--color-link);*/
  }
}