.primary-nav {
  $this: &;

  @media (max-width: 1000px) {
    #{$this}_divider-mobile {
      #{$this}__list {
        padding: 0;
        gap: 0;
      }
      .main-menu-link, .sub-menu-link {
          padding-top: 16px;
          padding-bottom: 16px;
      }
      .menu-item {
        &:nth-child(odd) {
          a {
            border-top: 1px var(--primary-nav-submenu-border-style) var(--primary-nav-submenu-border);
            border-bottom: 1px var(--primary-nav-submenu-border-style) var(--primary-nav-submenu-border);
          }
        }
        &:first-of-type {
          a {
            border-top: 1px var(--primary-nav-submenu-border-style) var(--primary-nav-submenu-border);
          }
        }

        &:last-child {
          a {
            border-bottom: 1px var(--primary-nav-submenu-border-style) var(--primary-nav-submenu-border);
          }
        }
      }
    }

    &.primary-nav_buttons-bottom, &.primary-nav_buttons-top {
      display: flex;
      flex-direction: column;
      align-items: center;

      .nav {
        width: 100%;
      }
    }

    &.primary-nav_buttons-top {
      >.buttons {
        order: 1;
        margin-bottom: 20px;
      }

      .nav {
        order: 2;
      }

      .header__rating-stars {
        order: 3;
        margin-top: auto;
      }
    }

    &.primary-nav_buttons-bottom {
      .nav {
        order: 1;
      }

      .buttons_bottom {
        order: 2;
        margin: auto 0 0 0;
        padding-top: 20px;
      }

      .header__rating-stars {
        order: 3;
      }

      .buttons_columns-2-mobile {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &_add-widget {
    .widget {
      order: 4;
      margin: auto auto 0 0;
    }
  }
}