@use "media-text_border-radius";
@use "media-text_bg";
@use "src/scss/components/welcome-bonus/welcome-bonus";
@use "src/scss/components/rating-stars/rating-stars";
@use "src/scss/base/mixins";

.media-text {
  display: grid;
  gap: 0 64px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  background: var(--background);
  $this: &;

  &_vertical {
    gap: 20px 0;
    grid-template-columns: 1fr;
  }

  &_padding-bg {
    padding: var(--media-text-padding);
    border-radius: var(--border-radius);
  }

  &__content {

    >*:not(:last-child) {
      margin-bottom: var(--media-text-gap);
    }
  }

  &__media {
    align-self: flex-end;
  }

  &__media_image {

    img {
      width: var(--media-image-max-width);
      height: var(--media-image-max-width);
    }
  }

  &_image-center {
    #{$this}__media {
      align-self: center;
      justify-content: flex-end;
      display: flex;
    }
  }

  &_vertical {

  }

}