@use "../../base/mixins";

.promo-coins {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 16px;
  padding: 26px 16px 16px 16px;
  //background-color: var(--background-color);
  position: relative;
  $this:&;

  .coins {
    position: absolute;
    top: -15px;
    left: -20px;
    right: -20px;

    &__image {
      width: 100%;
      height: auto;
    }
  }

  >*:not(.coins):not(:last-child) {
    margin-bottom: 40px;
  }

  &__description {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }

  &__title-value {
    font-weight: 600;
    font-size: 50px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  #{$this}__inputs {
    display: flex;
    flex-basis: 100%;
  }

  #{$this}__inputs-gap {
    gap: 0 16px;

    #{$this}__value {
      border: 1px;
      border-color: var(--border-color);
      border-style: var(--border-style);
      flex-basis: 100%;
      border-radius: 8px;
      background: var(--bg-input-value);
    }

    .button {
      flex-basis: min-content;
      padding: 0 26px;
      border-radius: 8px;

      &__icon {
        @include mixins.sizeRatio(20px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }
  }

  &__value {
    flex-basis: 60%;
    padding: 12px 16px;
    border-radius: 8px 0px 0px  8px;
    background: var(--bg-input-value);
    background: #000;
  }

  &__button.button {
    flex-basis: 40%;
    padding: unset;
    border-radius: 0px 8px 8px 0px;
  }

}