//@use "../../base/vars";
@use "../../base/mixins";

.button {
  display: flex; align-items: center; justify-content: center;
  font-size: 14px; line-height: normal; font-family: Inter, sans-serif;
  text-decoration: none;
  position: relative;
  transition: 0.25s;
  cursor: pointer;
  height: 48px;
  padding-left: 8px; padding-right: 8px;
  max-width: var(--button-width, 100%);
  justify-self: var(--position-btn);
  background: linear-gradient(240.87deg, var(--buttons-gradiend-start) 34.31%, var(--buttons-gradiend-end) 141.87%);
  background-color: var(--buttons-background);
  color: var(--buttons-color);
  //color: var(--buttons-gradiend-color);
  border-radius: var(--buttons-border-radius);
  border: 1px var(--buttons-border-style) var(--buttons-border);
  $this: &;

  &:hover, &:focus {
    border: 1px var(--buttons-border-style) var(--buttons-border-hover);
    color: var(--buttons-color-hover);
    //color: var(--buttons-gradiend-color-hover);
    background: linear-gradient(240.87deg, var(--buttons-gradiend-start) 4.31%, var(--buttons-gradiend-end) 141.87%);
    background-color: var(--buttons-background-hover);
  }

  @media (max-width: 600px) {
    max-width: 100%;
    width: 100%;
  }
  width: var(--button-width, 100%);

  &__image {
    @include mixins.sizeRatio(20px);
    margin-right: 8px;
    background-size: contain;
    aspect-ratio: 1/1;
    background-position: center;
    margin-right: 5px;
  }

  &_column {
    flex-direction: column;

    #{$this}__image {
      margin-bottom: 10px;
    }
  }

  /*  &_icon {
      &:after {
        content: "\e803";
        font-family: "fontello";
        transform: rotate(45deg);
        margin-left: 15px;
      }
    }*/
}
